.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  bottom: 0;
  position: fixed;
  width:100%;
   height:60px; 
}

 .mini-footer {
  bottom: 0;
  position: relative;
  background:#192027;
  text-align:center;
  padding:32px 0
 }
 .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
 }
 .mini-footer p a {
  color:#5867dd
 }
 .mini-footer p a:hover {
  color:#34bfa3
 }

 a:hover {
  cursor:pointer;
 }

 .noDataAvailable{
  margin:100px 25%;
  width: 50%;
  line-height:26px;
  font-size:15px;
  color:white;
  background:rgb(187, 85, 85);
  padding: 20px;
  text-align: center
 }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
